#tieredmenu {
  display: none;
}

.sidenav, .sidenav-mini {
  height: 100%;
  position: fixed;
  padding-right: 0px;
  padding-top: 1em;
  background-color: #2D353C !important;
}

/*
  
  @media screen and (min-width: 40.063em) {
  */

@media only screen and (max-width: 1000px) {

  #tieredmenu {
    display: inline-block;
    position: relative;
  }

  #panelmenu {
    display: none;
  }
}

/*
    @media only screen and (max-width: 40em) {
    */
@media only screen and (min-width: 1000px) {

  #tieredmenu {
    display: none;
  }

  #panelmenu {
    display: inline-block;
    position: relative;
  }
}
